################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week 1/workshop 1/.vs/workshop 1/FileContentIndex/436a8886-0c4e-4a64-89d8-23c6fe1e418e.vsidx
/week 5/part 1/.vs/part 1/v17/ipch/AutoPCH/822be691591887a9/W5_P2[1].ipch
/week 7/part 2/ws/.vs/ws/v17/ipch/AutoPCH/e39930cc290c966c/SONGCOLLECTION.ipch
